<div *ngIf="employee">

  <h2>{{employee.name | uppercase}} Details</h2>
  <div><span>id: </span>{{employee.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="employee.name" placeholder="name" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>