<h2>Employees</h2>
<ul class="employees">
  <li *ngFor="let employee of employees">
    <a routerLink="/detail/{{employee.id}}">
      <span class="badge">{{employee.id}}</span> {{employee.name}}
    </a>
  </li>
</ul>